.alert-box{
    background: blue;
    color: rgb(179, 179, 236);
    padding: 20px;
    border-radius: 5px;
    display: none;
    font-weight: bold;
    opacity: 50%;
    box-shadow: 0 0 22px;
}
pre{
    background: rgb(62, 70, 54);
    font-display: inherit;
    font-size: 20px;
    border-radius: 5px;
    opacity: 80%;
}
.idpw-box{
    width: 200px;
    height: 50px;
    background: khaki;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    display: none;
}
