.yellow-bg{
    background: yellow;
}
div{
    padding: 10px;
    margin: 10px;
}
.alert-box{
    width: 200px;
    height: 60px;
    background: rgb(140, 192, 88);
    color: cornsilk;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    display: none;
}
button.A{
    margin-left: 35px;
}
