*{margin: 0;
padding: 0;
}

.main-background{
    background-image: url(img/new-york-1819861.jpg);
    background-size: cover;
    color:whitesmoke;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 0%;
}
div>h1.display-4{
    font-weight: bold;
}
div>h1>span>a.url{
    text-decoration: none;
    list-style: none;
    color: inherit;
    float: left;
}
h1 span{
    position: relative;
    animation: bounce .4s ease infinite alternate;
    /* text-shadow:0 1px 0 rgb(24, 23, 23),
                0 2px 0 rgb(94, 63, 63),
                0 3px 0 rgb(108, 228, 28),
                0 4px 0 rgb(44, 93, 226),
                0 5px 0 rgb(240, 9, 9),
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .4); */
}
h1 span:nth-child(1) { animation-delay: .1s; }
h1 span:nth-child(2) { animation-delay: .2s; }
h1 span:nth-child(3) { animation-delay: .3s; }
h1 span:nth-child(4) { animation-delay: .4s; }
h1 span:nth-child(5) { animation-delay: .5s; }
h1 span:nth-child(6) { animation-delay: .6s; }
h1 span:nth-child(7) { animation-delay: .7s; }
h1 span:nth-child(8) { animation-delay: .8s; }
h1 span:nth-child(9) { animation-delay: .9s; }
h1 span:nth-child(10) { animation-delay: .10s; }
h1 span:nth-child(11) { animation-delay: .11s; }
h1 span:nth-child(12) { animation-delay: .12s; }
@keyframes bounce {
    100% {
        top: -20px;
        text-shadow:0 1px 0 rgb(255, 3, 3),
                    0 2px 0 rgb(245, 97, 28),
                    0 3px 0 rgb(234, 250, 10),
                    0 4px 0 rgb(24, 241, 97),
                    0 5px 0 rgb(24, 28, 238),
                    0 6px 0 rgb(26, 5, 146),
                    0 7px 0 rgb(110, 19, 88),
                    0 8px 0 rgb(255, 2, 2),
                    0 9px 0 rgb(236, 120, 10),
                    0 10px 0 rgb(230, 233, 63),
                    0 11px 0 rgb(25, 245, 44),
                    0 50px 25px rgba(0, 0, 0, .2);
    }
}
div>div>p{
    clear: both;
    padding-top: 10px;
    padding-left: 20px;
}
.black-background{
    background: rgb(34, 33, 33, 0.5);
    position: 5;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    /* 
    display none와 같은 느낌
    visibility: hidden; 
    */
}
.main-background>p{
    display: block;
}
.white-background{
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.nav-sub{
    display: none;
}