*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
:root{
    --text-color:#E8EBF2;
    --text-color-a:#fff;
    --background-color:#1D1D1F;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
ul, li{
    list-style: none;
}
body{
    margin: 0;
}
div.apple_logo img{
    line-height: 50px;
}
header{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: var(--background-color);
}
nav{
    display: flex;
    justify-content: space-between;
}
div.wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
nav ul{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
p.top_banner{
    background-color: rgb(248, 50, 50);
    text-align: center;
    font-size: 1rem;
    padding: 9px;
    font-weight: bold;
}
p.top_banner a{
    color: var(--text-color-a);
}
p.top_banner a:hover{
    font-weight: bold;
    font-size: 1.1rem;
}
div.wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
nav ul{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
/* slide menu */

a.shop{
    text-align: center;
    padding-bottom: 20px;
}
div.before{
    float: left;
    line-height: 696px;
    font-size: 50px;
    padding-left: 50px;
    cursor: pointer;
    color: rgb(117, 117, 117, 0.85);
}
div.next{
    float: right;
    line-height: 696px;
    font-size: 50px;
    padding-right: 50px;
    cursor: pointer;
    color: rgb(117, 117, 117, 0.85);
}
/* asd */
#box{
    width: 100%;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;
}
img{
    position: relative;
    width: 100%;
    transition: left 3.5s;
    cursor: pointer;
}
/* fix */
#linktoslide{
    font-size: 30px;
    border-radius: 8%;
    position: fixed;
    right: 0;
    top: 80%;
    background: rgb(172, 172, 117);
    color: var(--text-color);
    margin-right: 2%;
}
/* footer */
.footerContainer{
    width: 100%;
    padding: 22px;
    text-align: center;
    align-items: center;
}
footer{
    background: #F5F5F7;
    color: #6E6E73;
    height: 556px;
    padding: 0, 22px;
}
footer>ol{
    padding: 17px,0,11px;
    color: #6E6E73;
    text-align: center;
    font-size: 12px;
}
footer>ol>li{
    padding: 0,0,9.6px;
}