footer{
    width: 100%;
    background-color: #f5f5f7;
}
footer div.footer_wrap{
    width: 81.666rem;
    margin: 0 auto;
}

footer nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%
}
footer h3{
    font-size: 1rem;
    line-height: 1.3334;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 0.8em;
}
footer a{
    text-decoration: none;
    color: black;
}
footer li{
    list-style: none;
    /* display: block; */
    pointer-events: auto;
    margin-bottom: 0.8em;
}
section ul li.line{
    color: #6e6e73;
    width: 100%;;
    border-bottom: 1px solid black;
    margin: 0 auto;
    /* padding: 2rem; */
    padding: 0 0 1.4rem;
}
section.small_sentence{
    width: 81.6666rem;
    padding: 2rem 0 1rem;
    margin: 0 auto;
}
footer div.footer_1{
    width: 81.6666rem;
    margin: 0 auto;
}
footer div.footer_1 nav{
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
section.footer div:nth-of-type(1){
    /* border-bottom: 1px solid black; */
    color: #6e6e73;
    text-align: center;
    height: 25px;
    /* font-size: 1rem; */
    text-align: left;
}
section.footer div a{
    color: #06c
}
section.footer div.footer_text{
    width: 100%;
    display: flex;
}
section.footer div:nth-of-type(2){
    color: #6e6e73;
    text-align: center;
    height: 25px;
    /* font-size: 1rem; */
    text-align: left;
}
section.footer div.footer_web{
    margin-left:4rem;
    width: 70%;
}
section.footer div.footer_line{
    width: 20%;
}
section.footer div.footer_web a{
    display: inline-block;
}

section.footer p span{
    text-align: center;
    color: #999999;
    /* font-size: 1rem; */
    font-size: 12px;
}
section div.footer_web a{
    color: #424245;
    margin: 5px 10px 0 0;
    padding: 0 2px 0 0;
}
@media screen and (max-width:760px){
    section.small_sentence{
        width: 100%;
    }
}

