/*  =============== 기본 속성,컬러 ===============  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
}
:root{
    --hue-color: 260;
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
}
body{
    width: 100%;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: var(--first-color);
}
li{
    list-style: none;
}
html {
    scroll-behavior: smooth;
  }
/*  =============== 마우스 따라다니는 효과,디자인 ===============  */
.mouse{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(30%, 80%);
    display: flex;
}
.mouse .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}
.l-1 {
    animation-delay: 0.48s;
    color: red;
}
.l-2 {
    animation-delay: 0.6s;
    color: orange;
}
.l-3 {
    animation-delay: 0.72s;
    color: yellowgreen;
}
.l-4 {
    animation-delay: 0.84s;
    color: green;
}
.l-5 {
    animation-delay: 0.96s;
    color: blue;
}
.l-6 {
animation-delay: 1.08s;
color: navy;
}
.l-7 {
    animation-delay: 1.2s;
    color: purple;
}
.l-8 {
    animation-delay: 1.32s;
    color: blueviolet
    }
.l-9 {
    animation-delay: 1.44s;
    color: brown;
}
.l-10 {
    animation-delay: 1.56s;
    color: cyan;
}
@keyframes loadingF {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
/*  =============== 헤더 ===============  */
.choi_Header{
    width: 100%;
    position: fixed;
    border: none;
    box-shadow: 1px 1px 1.5px var(--first-color);
}
.choi_gnb{
    /* border: 1px solid black; */
    width: 100%;
    height: 2.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}
/*  =============== toggle ===============  */
.toggle{
    /* span에게 absolute를 줘야 하기 때문에 */
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-left: 8%;
}
.toggle span{
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--first-color);
    border-radius: 4px;
    transition: 0.5s;
}
.toggle span:nth-child(1){
    transform: translateY(-8px);
    width: 10px;
    left: 6px;
}
.toggle.active span:nth-child(1){
    width: 20px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    background-color: var(--first-color-lighter);
}
.toggle span:nth-child(2){
    transform: translateY(8px);
    width: 10px;
    left: 6px;
}
.toggle.active span:nth-child(2){
    width: 20px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
    background-color: var(--first-color-lighter);
}
.toggle.active span:nth-child(3){
    transform: translateX(60px);
}
.navbar_menu li{
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
}

/*  =============== logo ===============  */
.choi_logo{
    font-size: 1.4rem;
    font-weight: 600;
}
.choi_logo span:hover{
    color: var(--first-color-lighter);
}
/*  =============== lcon ===============  */
.choi_icon{
    text-align: center;
    width: 2rem;
    height: 2rem;
    margin-right: 8%;
}
.choi_icon i{
    font-size: 1.4rem;
}
.choi_icon i:hover{
    color: var(--first-color-lighter);
}
/*  =============== section ===============  */
.choi_first{
    width: 100%;
    border: 1px solid black;
}
/*  =============== section1 ===============  */
.choi_aboutMe img{
    width: 100%;
}
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
/*  =============== section2 ===============  */
/*  =============== section3 ===============  */
/*  =============== section4 ===============  */
