:root {
    --aqua: #EAF2FC;
    --seashell: #FDEDDF;
    --mistyrose: #FBEDF9;
    --cornsilk: #FCF2D9;
    --purplehaze: #EEEFFE;
    --honeydew: #E8F6F5;
    --slategray: #F5F5F7;
}
figure.sec_size p i{
    font-size: 1.7rem;
    font-weight: 600;
}
div.sec_goods p#buy a{
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}
div.sec_goods p#buy a:hover{
    color: #0071e3;
}
section div.sec1{
    max-width: 1278px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    padding: 4rem 3rem 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
section div.sec1 div.sec_goods{
    width: 28.75rem;
    height: 39.8333rem;
    background-color: #f5f5f7;
    border-radius: 2rem;
    box-shadow: 10px 10px 30px silver;
    overflow: hidden;
}

section div.sec1 div.sec_goods img{
    width: 21.3333rem;
    height: auto;
    position: relative;
    left: 18%;
    margin-left: -170px;
    background-size: 340px 320px;
    background-repeat: no-repeat;
    animation-name: rotate;
    animation-duration: 30s;
    margin-top: 2rem;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
section div.sec2{
    max-width: 1278px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 38px;
    padding: 40px 38px 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
section div.sec2 div.sec_goods{
    width: 28.75rem;
    height: 39.8333rem;
    background-color: #f5f5f7;
    border-radius: 2rem;
    box-shadow: 10px 10px 30px silver;
    overflow: hidden;
}

section div.sec2 div.sec_goods img{
    width: 21.3333rem;
    height: auto;
    position: relative;
    left: 18%;
    margin-left: -170px;
    background-size: 340px 320px;
    background-repeat: no-repeat;
    animation-name: rotate2;
    animation-duration: 30s;
    animation-delay: 2s;
    margin-top: 2rem;
}
@keyframes rotate2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
section div.sec3{
    max-width: 1278px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 38px;
    padding: 40px 38px 10rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
section div.sec3 div.sec_goods{
    width: 28.75rem;
    height: 39.8333rem;
    background-color: #f5f5f7;
    border-radius: 2rem;
    box-shadow: 10px 10px 30px silver;
    overflow: hidden;
}

section div.sec3 div.sec_goods img{
    width: 21.3333rem;
    height: auto;
    position: relative;
    left: 18%;
    margin-left: -170px;
    background-size: 340px 320px;
    background-repeat: no-repeat;
    animation-name: rotate3;
    animation-duration: 30s;
    animation-delay: 4s;
    margin-top: 2rem;
}
@keyframes rotate3{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
div.mid_banner img.size{
    width: 100%;
}
div.mid_banner img.size:nth-of-type(1){
    margin-top: -5.5rem;
}
div.mid_banner img.size:nth-of-type(2){
    margin-top: -5.5rem;
}
@media screen and (min-width:768px) and (max-width:954px){
    section div.sec1, section div.sec2, section div.sec3{
        display: block;
        padding: 0 38px 5px;
    }
    section div.sec1 div.sec_goods,
    section div.sec2 div.sec_goods,
    section div.sec3 div.sec_goods{
        width: 24.75rem;
        height: 35.8333rem;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    section div.sec1 div.sec_goods img,
    section div.sec2 div.sec_goods img,
    section div.sec3 div.sec_goods img{
        width: 20.75rem;
        height: auto;
        left: 22%;
    }
}
@media screen and (min-width:320px) and (max-width:767px){
    section div.sec1,section  div.sec2,section  div.sec3{
        display: block;
        padding: 0 38px 5px;
    }
    section div.sec1 div.sec_goods,
    section div.sec2 div.sec_goods,
    section div.sec3 div.sec_goods{
        width: 20.75rem;
        height: 31.8333rem;
        margin: 0 auto;
        left: 20%;
        margin-bottom: 3rem;
    }
    section div.sec1 div.sec_goods img,
    section div.sec2 div.sec_goods img,
    section div.sec3 div.sec_goods img{
        width: 13.3333rem;
        height: auto;
        left: 24%;
    }
}